@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 10px;
  outline: 0;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

body {
  height: auto;
  background-color: #eeeeee;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header-box {
  width: 100%;
  height: 50px;
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 30%;
  margin-left: 5%;
}

.search-img {
  height: 20px;
  display: inline-block;
}

.logo {
  color: #ee0000;
  font-size: 2.2rem;
  font-weight: bold;
  display: inline-block;
}

.logo:hover {
  opacity: 0.6;
  color: #ee0000;
}

.header-right {
  width: 55%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-write-article {
  display: block;
  width: 40%;
  height: auto;
  margin-left: 10px;
}

.link-write-article-btn {
  width: 100%;
  height: 2.7rem;
  background-color: #343a40;
  border: 2px solid #eeeeee;
  color: #eeeeee;
  font-size: 1.1rem;
}

.link-write-article-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.icon-btn {
  display: inline-block;
  width: 37%;
  height: 4vh;
  background-color: #343a40;
  border: 1px solid  #343a40;
}

.icon-img {
  display: inline-block;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  cursor: pointer;
}

#btn {
  margin: 0 2px;
  background-color: #343a40;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid #343a40;
  margin-left: 7px;
  margin-right: 7px;
}

#btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

span {
  display: inline-block;
  border: 1px solid #fff;
  height: 16px;
  margin: 0 4px;
}

/* ナビメニュー */

#nav {
  display: none;
}

#nav1 {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  height: auto;
  width: 40%;
  top: 50px;
  right: 0;
  border-radius: 5px;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.nav-list {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #343a40;
  text-align: center;
  cursor: pointer;
}

.nav-list:hover {
  opacity: 0.6;
}

.nav-link {
  display: inline-block;
  width: 100%;
  height: 70px;
  font-size: 2rem;
  color: #666;
  margin-top: 15px;
}

.header-around-behind {
  height: 40px;
  background-color: #343a40;
}

/* ここまでナビメニュー */

/* ここまでヘッダー */

.relative {
  background-color: #6c757d;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}

/* PC用 */

.search {
  display: none;
}

/* スマホ用 */

#search {
  position: fixed;
  width: 90%;
  display: none;
}

#search1 {
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 9999;
  padding-left: 5px;
  padding-top: 10px;
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  align-items: center;
}

.search-btn {
  background-color: #343a40;
  border: 1px solid #343a40;
  outline: 0;
}

.search-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-input {
  display: inline-block;
  height: 25px;
  margin-left: 20px;
  width: 80%;
  font-size: 1.5rem;
}

.search-btn1 {
  background-color: #343a40;
  border: 1px solid #343a40;
  width: 10%;
  height: 30px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}

.search-btn1:hover {
  opacity: 0.6;
  cursor: pointer;
}

.login-h2 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 20px 0 5px 0;
  background-color: #6c757d;
  height: 20px;
}

.login-h3 {
  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #6c757d;
  height: 20px;
  margin-top: 40px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.easy-login-btn {
  text-align: center;
  width: 90%;
  margin: auto;
}

.easy-btn {
  margin: 30px auto;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #00CC00;
  font-size: 1.6rem;
  font-weight: bold;
  border: solid 1px #000;
  cursor: pointer;
}

.easy-btn:hover {
  opacity: 0.6;
}

.google-login {
  cursor: pointer;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #4285f4;
  font-size: 1.6rem;
  font-weight: bold;
  border: solid 1px #000;
}

.google-login:hover {
  opacity: 0.6;
}

.register-form {
  width: 70%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  height: auto;
}

.form-box {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
}

.auth-label {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-size: 1.5rem;
  margin-left: 5px;
}

.input-box {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding-right: 5px;
  height: 30px;
  font-size: 18px;
}

.validation-v {
  width: 100%;
  text-align: center;
}

.validation-message {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}

.error-message {
  margin-left: 20%;
}

.make-acount {
  margin: 0 auto;
  width: 40%;
  padding-right: 8%;
}

.forget-password {
  margin: 10px auto 20px auto;
  width: 40%;
  padding-right: 8%;
}

.make-acount-link {
  color: blue;
  font-size: 1.1rem;
}

.make-acount-link:hover {
  opacity: 0.6;
}

.forget-password-link {
  color: blue;
  font-size: 1.1rem;
}

.forget-password-link:hover {
  opacity: 0.6;
}

.register {
  display: block;
  margin: 40px auto 50px auto;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #6c757d;
  font-size: 1.5rem;
}

.register:hover {
  opacity: 0.6;
  cursor: pointer;
}

footer {
  background-color: #343a40;
  height: 120px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.footer-logo {
  font-size: 3rem;
  color: #ee0000;
  text-align: center;
  font-weight: bold;
}

small {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .header-box {
    width: 100%;
    height: 50px;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-box {
    width: 100%;
    justify-content: center;
  }

  .header-left {
    width: 30%;
    margin-left: 6%;
  }

  .logo {
    font-size: 2.8rem;
    display: inline-block;
    width: 30%;
  }

  .logo:hover {
    opacity: 0.6;
  }

  .header-right {
    height: 50px;
    width: 67%;
    margin-left: 0;
  }

  .link-write-article {
    display: block;
    width: 20%;
    height: auto;
    margin: 0 2%;
  }

  .link-write-article-btn {
    width: 100%;
    height: 4vh;
    background-color: #343a40;
    border: 2px solid #eeeeee;
    color: #eeeeee;
    font-size: 1.1rem;
  }

  .icon-img {
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
  }

  .search {
    display: block;
    width: 63%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search-input-pc {
    width: 70%;
    height: 28px;
    font-size: 1.5rem;
  }

  .search-btn-pc {
    height: 24px;
    margin: 0 5px;
  }

  .search-btn-pc:hover {
    opacity: 0.6;
  }

  .search-btn {
    display: none;
  }

  .easy-login-btn {
    width: 75%;
  }

  .easy-btn {
    font-size: 1.6rem;
  }

  .input-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #nav1 {
    width: 250px;
  }
}

@media screen and (min-width: 1025px) {
  .search {
    width: 75%;
  }
}

.top-main {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

ul {
  margin-bottom: 0 !important;
}

li {
  list-style-type: none;
}

.search-result {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.search-article {
  background-color: #fff;
  color: #444;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center !important;
}

.tag-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-search {
  height: 25px;
  width: 70%;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.tag-search-btn {
  height: 20px;
  margin-left: 5px;
  width: 25px;
  color: #444;
  margin-right: 10px;
}

.top-article-container {
  background-color: #fff;
  height: auto;
  margin-top: 80px;
  border-radius: 5px;
}

.top-article_box {
  width: 100%;
  border-top: 2px solid rgba(42, 46, 49, 0.4);
  line-height: 1.6;
  min-height: 130px;
  height: auto !important;
  padding: 5px 40px 5px 20px;
}

.top-article-myimage {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.top-article-user {
  font-size: 1.4rem;
  margin-top: 13px;
  color: #444;
  display: flex;
  align-items: center;
}

.top-user-name {
  font-size: 1.6rem;
  margin-right: auto;
}

.top-tag {
  font-size: 1.2rem;
  margin-right: 10px;
}

.top-article-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
}

.top-article-tag {
  font-size: 1.5rem;
}

.top-article-created_at {
  font-size: 1.0rem;
  color: #444;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0.5;
  width: 50%;
}

.top-count-box {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  width: 40%;
}

.top-count-created {
  display: flex;
  justify-content: space-between;
}

.top-like-count {
  font-size: 1.0rem;
  margin-left: 0;
  margin-right: 5px;
  letter-spacing: 0.5;
}

.pagination {
  box-sizing: border-box;
  height: 120px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-paginate {
  width: 100%;
  height: auto;
}

.page-item {
  display: block;
  height: auto;
}

.page-link {
  font-size: 2rem;
  display: inline-block;
  height: auto;
}

@media screen and (min-width: 600px) {
  .top-article-title {
    font-size: 2.5rem;
  }

  .top-article-user {
    font-size: 2.0rem;
  }

  .top-tag {
    font-size: 2.0rem;
  }

  .top-article-created-at {
    font-size: 1.8rem;
  }

  .search-result {
    height: 130px;
  }

  .search-article {
    font-size: 2.5rem;
  }

  .tag-search {
    height: 35px;
    width: 70%;
    font-size: 1.8rem;
  }

  .tag-search-btn {
    height: 30px;
    margin-left: 5px;
    width: 30px;
    color: #444;
    margin-right: 10px;
  }

  .top-article-created_at {
    font-size: 1.5rem;
  }

  .top-like-count {
    font-size: 1.6rem;
  }

  .top-tag {
    font-size: 1.8rem;
  }
}

.comment-error {
  font-size: 1.7rem;
  color: red;
  text-align: center;
  margin-top: 50px;
}

.show-main {
  background-color: #fff;
  height: auto;
  min-height: 500px;
  width: 90%;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  padding: 25px 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
}

.show-box {
  min-height: 100px;
  height: auto;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.7;
}

.show-user-data {
  display: flex;
  align-items: center;
  width: 100%;
}

.show-user-image {
  height: 20px;
}

.show-article-user {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 2px 2px 5px;
}

.show-created-at {
  font-size: 1.0rem;
  color: #111;
  width: 60%;
  margin-left: 3px;
  padding-bottom: 3px;
}

.show-title-box {
  width: 100%;
  height: auto;
  color: #111;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.show-title {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

.show-tag {
  font-size: 1.2rem;
  display: inline;
}

.show-like-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.likes {
  border: none;
  margin-left: 0;
  display: inline-flex;
  align-items: center;
}

.like-toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.like-toggle:hover {
  opacity: 0.6;
}

.like-toggle-guest {
  font-size: 1.3rem;
  border: none;
}

.like-counter {
  font-size: 1.3rem;
  border: 1px solid #eee;
  display: inline-block;
  padding-bottom: 5px;
  color: #55C500;
}

.liked {
  color: #55C500;
}

.show-form-status {
  display: inline-block;
  margin-left: auto;
}

.show-status-btn {
  border: 1px solid #eee;
  font-size: 1.3rem;
  color: #333;
  cursor: pointer;
  margin-right: 5px;
}

.show-status-btn:hover {
  color: #007bff;
}

.show-linkbox {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

.show-link-edit {
  font-size: 1.3rem;
  color: #333;
  margin-right: 5px;
}

.show-link-edit:hover {
  color: #007bff;
}

.show-link-delete {
  border: none;
  font-size: 1.3rem;
  color: #333;
  display: inline;
  cursor: pointer;
}

.show-link-delete:hover {
  color: #007bff;
}

.show-body-box {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.show-body {
  font-size: 1.7rem;
  margin-top: 60px;
}

.show-block1 {
  margin-left: auto;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.show-good-icon {
  height: 20px;
  margin-right: 5px;
}

/* ここからコメント */

.show-border {
  border-bottom: 1px solid  #343a40;
  margin-bottom: 20px;
  width: 100%;
}

.show-comment-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.show-comment-box {
  min-height: 400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
  margin: 10px 0;
  padding: 10px;
}

.comment-user-img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

.comment-user {
  width: 100%;
  height: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.comment-user-name {
  font-size: 1.5rem;
}

.comment-created-at {
  font-size: 1.5rem;
}

.comment-delete {
  font-size: 1.5rem;
  margin-left: auto;
  background-color: #fff;
  border: 1px solid #fff;
  margin-right: 7px;
}

.comment-body {
  min-height: 200px;
  height: auto !important;
  width: 100%;
}

.reply-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50px;
  height: auto !important;
}

.reply-user-data {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;
  margin-bottom: 5px;
  padding-top: 10px;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid rgba(42, 46, 49, 0.4);
}

.reply-img {
  height: 34px !important;
  width: 34px;
}

.replies {
  width: 100%;
  height: auto;
}

.reply-delete {
  margin-left: auto;
  margin-right: 10px;
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid #fff;
}

.reply-form {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid rgba(42, 46, 49, 0.4);
  padding-top: 35px;
}

.reply-sent-box {
  width: 100%;
  text-align: center;
}

.reply-textarea {
  width: 90%;
  margin: 0 auto;
  font-size: 1.7rem;
  height: 40px;
  padding: 5px 0;
}

.reply-sent {
  background-color: #117ec6;
  opacity: 0.9;
  border-radius: 5px;
  height: 40px;
  max-width: 500px;
  width: 40%;
  color: #fff;
  font-size: 1.8rem;
  margin: 20px auto 20px auto;
  text-align: center;
  cursor: pointer;
}

.reply-sent:hover {
  opacity: 0.6;
}

/* ここからコメント投稿 */

.comment-write-box {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.comment-textarea {
  min-height: 300px;
  width: 90%;
  height: auto !important;
  margin: 0 5%;
  font-size: 1.8rem;
  padding: 10px;
}

.comment-sent {
  background-color: #117ec6;
  opacity: 0.9;
  border-radius: 5px;
  height: 40px;
  max-width: 500px;
  width: 40%;
  color: #fff;
  font-size: 1.8rem;
  margin: 30px auto;
  cursor: pointer;
}

.comment-sent:hover {
  opacity: 0.6;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #111;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

p {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

pre {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

code {
  font-size: 1.7rem;
  background-color: #eee;
}

li {
  text-align: left;
  font-size: 1.5rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: rgba(42, 46, 49, 0.4);
}

@media screen and (min-width: 600px) {
  .show-main {
    background-color: #fff;
    height: auto;
    min-height: 500px;
    width: 80%;
    margin-bottom: 50px;
  }

  .show-article-user {
    font-size: 1.8rem;
  }

  .show-created-at {
    font-size: 1.5rem;
  }

  .show-title {
    font-size: 2.5rem;
  }

  .show-tag {
    font-size: 1.5rem;
  }

  .like-toggle {
    font-size: 1.8rem;
  }

  .like-toggle-guest {
    font-size: 1.8rem;
  }

  .like-counter {
    font-size: 1.7rem;
    padding-bottom: 10px;
  }

  .show-status-btn {
    font-size: 1.5rem;
  }

  .show-link-edit {
    font-size: 1.5rem;
  }

  .show-link-delete {
    font-size: 1.5rem;
  }
}

.profile-container-lg {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}

a:hover {
  text-decoration: none;
}

.profile-box1 {
  padding: 6vh 0 3vh 0;
  width: 90%;
  margin: auto;
}

.profile-icon {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-user-name {
  display: block;
  width: 85%;
  margin: 1.2rem auto;
  text-align: center;
  font-size: 2.0rem;
  border-bottom: 2px solid  #6c757d;
  padding-bottom: 2rem;
  color: #444;
}

.profile-linkbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}

.profile-article-total {
  font-size: 1.3rem;
  text-align: center;
}

.profile-likes-total {
  font-size: 1.3rem;
  text-align: center;
}

.profile-link-menu {
  display: inline-block;
  color: #444;
  height: 30px;
  font-size: 1.3rem;
}

.profile-link-menu:hover {
  text-decoration: none;
  color: #007bff;
}

.profile-link-editprofile {
  display: block;
  background-color: #117ec6;
  opacity: 0.9;
  max-width: 800px;
  width: 80vw;
  height: 40px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
}

.profile-link-editprofile:hover {
  opacity: 0.6;
}

.profile-link-myarticle {
  display: block;
  background-color: #6c757d;
  opacity: 0.9;
  width: 65%;
  height: 4vh;
  margin: 1.7rem auto;
  border-radius: 5px;
}

.profile-link-myarticle:hover {
  opacity: 0.6;
}

.profile-link {
  color: #fff;
  font-size: 1.5rem;
}

.profile-link:hover {
  text-decoration: none;
  color: #fff;
}

/* ここから記事一覧 */

.profile-fillter-box {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
}

.profile-fillter-link {
  width: 33%;
  color: #444;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.profile-fillter-link:hover {
  opacity: 0.6;
  color: #444;
}

.profile-article-box {
  width: 100%;
  border-top: 2px solid rgba(42, 46, 49, 0.4);
  line-height: 1.6;
  min-height: 130px;
  box-sizing: border-box;
  padding: 5px 0 5px 20px;
}

.profile-link-article {
  text-decoration: none;
}

.profile-link-article:hover {
  text-decoration: none;
}

.profile-myimage {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.profile-article-user {
  font-size: 1.6rem;
  margin-top: 13px;
  color: #444;
  display: flex;
  align-items: center;
}

.article-user-name {
  margin-right: auto;
  font-size: 1.6rem;
}

.profile-article-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 5px 0;
}

.profile-article-tag {
  font-size: 1.5rem;
}

.mypage_article_tag {
  font-size: 1.5rem;
  margin-right: 15px;
}

.profile-article-created_at {
  font-size: 1.0rem;
  color: #444;
  display: flex;
  align-items: center;
  letter-spacing: 0.5;
}

.count_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  padding-bottom: 2px;
}

.mypage-like-count {
  font-size: 1.0rem;
  margin-right: 0;
}

.mypage-comment-count {
  font-size: 1.1rem;
  margin-left: 2px;
  margin-right: 0;
}

.pagination {
  box-sizing: border-box;
  border-top: 2px solid rgba(42, 46, 49, 0.4);
  height: 120px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.profile-paginate {
  width: 100%;
  height: auto;
}

.page-item {
  display: block;
  height: auto;
}

.page-link {
  font-size: 2rem;
  display: inline-block;
  height: auto;
}

footer {
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .profile-container-lg {
    width: 80%;
  }

  .profile-container1 {
    width: 100%;
    height: 520px;
    background-color: #fff;
  }

  .profile-container2 {
    width: 100%;
    background-color: #fff;
  }

  .profile-icon {
    display: block;
    width: 230px;
    height: 230px;
  }

  .profile-link-editprofile {
    width: 70vw;
    margin-top: 40px;
    height: 50px;
  }

  .profile-link-myarticle {
    height: 5vh;
  }

  .profile-link {
    font-size: 2.0rem;
  }

  .profile-link-menu {
    font-size: 2rem;
    cursor: pointer;
  }

  .profile-article-created_at {
    font-size: 1.5rem;
  }

  .mypage-like-count {
    font-size: 1.5rem;
  }

  .mypage-comment-count {
    font-size: 1.5rem;
  }
}

.edit-profile-box {
  width: 80%;
  height: auto;
  min-height: 350px;
  background-color: #fff;
  margin: auto;
  height: 50vh;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
  margin-top: 90px;
  margin-bottom: 100px;
}

.edit-profile-message {
  width: 100%;
  background-color: aquamarine;
  margin: 5% auto 5% auto;
  font-size: 1.2rem;
  height: 5vh;
  opacity: 0.9;
  text-align: center;
  padding-top: 3%;
}

.edit-profile-h2 {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  margin: 20px auto 10px auto;
  text-align: center;
}

.edit-profile-border {
  width: 100%;
  border: 1px solid  #6c757d;
  opacity: 0.3;
  margin: 0 auto 5% auto;
}

.edit-profile-label1 {
  width: 93%;
  display: block;
  margin: 0 auto;
}

/* アイコンの画像 */

.profile_img {
  display: block;
  background-color: #000;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile_img:hover {
  cursor: pointer;
}

.edit-profile-label2 {
  font-size: 1.3rem;
  width: 35%;
  margin-top: 5px;
  margin-left: 15%;
}

.edit-profile-name {
  display: block;
  width: 70%;
  height: 4vh;
  margin: 2% auto 3% auto;
  font-size: 1.5rem;
}

.edit-profile-save {
  display: block;
  width: 71%;
  margin: 0 auto 5vh auto;
  background-color: #007bff;
  height: 5vh;
  opacity: 0.9;
  border: 1px solid #007bff;
  border-radius: 3px;
  margin-bottom: 10%;
  font-size: 1.3rem;
}

.edit-profile-save:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .edit-profile-box {
    height: 70vh;
    padding-bottom: 5vh;
  }

  .profile_img {
    display: block;
    background-color: #000;
    height: 240px;
    width: 240px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .edit-profile-label2 {
    font-size: 1.3rem;
    width: 30%;
    margin-top: 5px;
    margin-left: 20%;
  }

  .edit-profile-name {
    display: block;
    width: 60%;
    height: 4vh;
    margin: 2% auto 3% auto;
    font-size: 1.3rem;
  }

  .edit-profile-save {
    width: 61%;
    height: 5vh;
  }
}

.article-form {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.article-title {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 2.3rem;
  padding: 10px 0 0 5px;
  margin-top: 40px;
}

.article-tag {
  width: 100%;
  height: 32px;
  font-size: 1.5rem;
}

.tab-bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

.tab-bar-text {
  font-size: 1.7rem;
  color: #444;
  width: 49%;
  margin-left: 2%;
}

.tab-bar-preview {
  font-size: 1.7rem;
  width: 49%;
  color: #444;
}

#markdown-editor-textarea {
  width: 50%;
  height: 72vh;
  font-size: 1.7rem;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
  padding-top: 10px;
}

#markdown-preview {
  padding-top: 10px;
  display: inline-block;
  width: 50%;
  background-color: #fff;
  border-top: 2px solid rgba(42, 46, 49, 0.4);
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
}

.create-error {
  color: red;
  font-size: 1.5rem;
  margin-right: 5px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #111;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

p {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

pre {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

code {
  font-size: 1.7rem;
  background-color: #eee;
}

li {
  text-align: left;
  font-size: 1.5rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #111;
}

.btn-bar {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
}

.article-post-btn {
  display: block;
  height: 4vh;
  width: 20rem;
  font-size: 1.5rem;
  background-color: #6c757d;
  opacity: 0.9;
  border-radius: 5px;
  color: #fff;
}

.article-post-btn:hover {
  opacity: 0.6;
}

