.profile-container {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.profile-box1 {
  padding:6vh 0 3vh 0;
  width: 90%;
  margin: auto;
}

.profile-icon {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}
.profile-user-name {
  display: block;
  width: 80%;
  margin: 1.2rem auto;
  text-align: center;
  font-size: 2.0rem;
  border-bottom: 1px solid  #6c757d;
  padding-bottom: 2rem;
  color: #444;
}

.profile-linkbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.profile-article-total {
  font-size: 1.5rem;
  text-align: center;
}
.profile-likes-total {
  font-size: 1.5rem;
  text-align: center;
}
.profile-link-menu {
  display: inline-block;
  color: #444;
  height: 30px;
  font-size: 2rem;
}

.profile-link-editprofile {
  display: block;
  background-color: #6c757d;
  opacity: 0.9;
  width: 80vw;
  height: 4vh;
  margin:3.0rem auto 2.5rem auto;
  border-radius: 5px;
}
.profile-link-editprofile:hover {
  opacity: 0.6;
}

.profile-link-myarticle {
  display: block;
  background-color: #6c757d;
  opacity: 0.9;
  width: 65%;
  height: 4vh;
  margin: 1.7rem auto;
  border-radius: 5px;
}
.profile-link-myarticle:hover {
  opacity: 0.6;
}

.profile-link {
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px){ 
  .profile-icon {
    display: block;
    width: 230px;
    height: 230px;
  }
  .profile-link-editprofile {
  height:5vh;
}
  .profile-link-myarticle {
    height: 5vh;
  }
}