.show-main {
  background-color: #fff;
  height: auto;
  min-height: 500px;
  width: 90%;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  padding: 25px 10px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.6);
}
.show-box {
  height: 130px;
  background-color: #eee;
  border-radius: 5px;
  
}
.show-title-box {
  width: 100%;
  height: 90px;
  color:#111;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.show-user-data {
  display: flex;
  align-items: center;
  width: 100%;
}
.show-user-image {
  height: 20px;
}
.show-article-user{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 2px 2px 5px;
}
.show-title {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  margin: 5px 0;
}
.show-created-at {
  font-size: 1.5rem;
  color: #111;
  width: 60%;
}
.show-linkbox {
  display: flex;
  justify-content:end;
  box-sizing: border-box;
  margin-left: auto;
}
.show-link-edit {
  font-size: 1.7rem;
  color: #333;
  display: inline;
  margin-right: 10px;
}
.show-link-edit:hover {
  color: #007bff;
}

.show-link-delete {
  border: none;
  font-size: 1.7rem;
  color: #333;
  display: inline;
}
.show-link-delete:hover {
  color: #007bff;
}
.show-body-box {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.show-body {
  font-size: 1.7rem;
  margin-top: 60px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #111;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

p {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

pre {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

li {
  text-align: left;
  font-size: 1.5rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color:rgba(42, 46, 49, 0.4);
}

@media screen and (min-width: 600px){ 
  .show-main {
    background-color: #fff;
    height: auto;
    min-height: 500px;
    width: 70%;
    margin-bottom: 50px;
   margin-left: 5%;
  }
}
