.comment-error{
  font-size: 1.7rem;
  color: red;
  text-align: center;
  margin-top: 50px;
}

.show-main {
  background-color: #fff;
  height: auto;
  min-height: 500px;
  width: 90%;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  padding: 25px 10px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.6);
}
.show-box {
  height: 130px;
  background-color: #eee;
  border-radius: 5px;
  
}
.show-title-box {
  width: 100%;
  height: 90px;
  color:#111;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.show-user-data {
  display: flex;
  align-items: center;
  width: 100%;
}
.show-user-image {
  height: 20px;
}
.show-article-user{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 2px 2px 5px;
}
.show-form-status{
  margin-left:auto;
}
.show-status-btn{
  border:1px solid #eee;
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
}
.show-status-btn:hover{
  color: #007bff;
}
.show-title {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  margin: 5px 0;
}
.show-created-at {
  font-size: 1.5rem;
  color: #111;
  width: 60%;
}

.show-linkbox {
  display: flex;
  justify-content:end;
  box-sizing: border-box;
  margin-left: auto;
}
.show-link-edit {
  font-size: 1.7rem;
  color: #333;
  display: inline;
  margin-right: 10px;
}
.show-link-edit:hover {
  color: #007bff;
}

.show-link-delete {
  border: none;
  font-size: 1.7rem;
  color: #333;
  display: inline;
  cursor: pointer;
}
.show-link-delete:hover {
  color: #007bff
}
.show-body-box {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.show-body {
  font-size: 1.7rem;
  margin-top: 60px;
}

/* ここからコメント */

.show-border{
  border-bottom: 1px solid  #343a40;
  margin-bottom: 20px;
  width: 100%;
}
.show-comment-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.show-comment-box{
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.6);
  margin: 10px 0;
  padding: 10px;
}
.comment-user-img{
  height: 34px;
  width: 34px;
  border-radius: 50%;
}
.comment-user{
  width: 100%;
  height: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.comment-user-name{
  font-size: 1.5rem;

}
.comment-created-at{
  font-size: 1.5rem;
  margin-left: auto;
}

.comment-body{
  min-height: 200px;
  height: auto !important;
  width: 100%;
}

/* ここからコメント投稿 */
.comment-write-box{
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.comment-textarea{
  min-height: 300px;
  width: 90%;
  height: auto !important;
  margin: 0 5%;
  font-size: 1.8rem;
  padding: 10px;
}
.comment-sent{
  background-color: #117ec6;
  opacity: 0.9;
  border-radius: 5px;
  height: 40px;
  max-width: 500px;
  width: 40%;
  color: #fff;
  font-size: 1.8rem;
  margin: 30px auto;
  cursor: pointer;
}
.comment-sent:hover{
  opacity: 0.6;
}


h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #111;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff ;
  color: #111 ;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

p {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

pre {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

li {
  text-align: left;
  font-size: 1.5rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color:rgba(42, 46, 49, 0.4);
}

@media screen and (min-width: 600px){ 
  .show-main {
    background-color: #fff;
    height: auto;
    min-height: 500px;
    width: 70%;
    margin-bottom: 50px;
   margin-left: 5%;
  }
}
