.show-main {
  background-color: #fff;
  height: auto;
  min-height: 500px;
  width: 95%;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  padding: 25px 10px;
}
.show-box {
  height: 150px;
  background-color: #eee;
}
.show-title-box {
  width: 100%;
  height: 90px;
  font-size: 2rem;
  color:#111;
  padding: 10px;
  box-sizing: border-box;
}
.show-user-data {
  display: flex;
  align-items: center;
}
.show-user-image {
  height: 20px;
}
.show-article-user{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 2px 2px 5px;
}
.show-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 8px 0;
}
.show-created-at {
  font-size: 1.5rem;
  color: #111;
  display: inline-block;
  width: 50%;
}
.show-linkbox {
  display: inline-block;
  text-align: right;
  margin-left: auto;
  width: 45%;
}
.show-link-edit {
  font-size: 1.7rem;
  color: #333;
}
.show-link-edit:hover {
  color: #007bff;
}
.show-link-delete {
  font-size: 1.7rem;
  color: #333;
  margin-left: 5px;
}
.show-link-delete:hover {
  color: #007bff;
}
.show-body-box {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.show-body {
  font-size: 1.7rem;
  margin-top: 60px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #111;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  color: #111;
}

p {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

pre {
  color: #111;
  text-align: left;
  font-size: 1.7rem;
}

li {
  text-align: left;
  font-size: 1.5rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color:rgba(42, 46, 49, 0.4);
}

@media screen and (min-width: 600px){ 
  .show-main {
    background-color: #fff;
    height: auto;
    min-height: 500px;
    width: 85%;
    margin-bottom: 50px;
  }
}
