*{margin: 0;padding: 0;
  text-decoration: none;
  font-size: 10px;
  outline: 0;
}
li {
  list-style-type: none;
}
a:hover {
  text-decoration: none;
}
  body{
    height: auto;
    background-color: #eeeeee;
  }

  header{
    position: fixed;
     width: 100%;
     z-index: 9999;
  }

  .header-box {
    width: 100%;
    height: 50px;
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    width: 30%;
    margin-left: 3%;
  }

 
  .search-img{
      height: 20px;
      display: inline-block;
    }

  
  .logo{
    color: #ee0000;
    font-size: 2.4rem;
    font-weight: bold;
    display: inline-block;
  }
  .logo:hover {
    opacity: 0.6;
    color: #ee0000;
  }
  
  .header-right {
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .link-write-article {
    display: block;
    width: 40%;
    height: auto;
    margin-left: 10px;
  }
  
  .link-write-article-btn {
    width: 100%;
    height: 2.7rem;
    background-color: #343a40;
    border: 2px solid #eeeeee;
    color: #eeeeee;
    font-size: 1.1rem;
  }
  
  .link-write-article-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    }

  .icon-btn {
    display: inline-block;
    width: 37%;
    height: 4vh;
    background-color:  #343a40;
    border: 1px solid  #343a40;
  }
  .icon-img {
    display: inline-block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    cursor: pointer;
  }
  .btn {
    margin: 0 2px;
    background-color: #343a40;
    color: #fff;
    font-size: 1.1em;
    border: 1px solid #343a40;
  }
  .btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }
   span {
    display: inline-block;
    border: 1px solid #fff;
    height: 16px;
    margin: 0 4px;
  }

  /* ナビメニュー */
  #nav {
    display: none;
  }

  #nav1 {
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.6);
    height: 400px;
    width: 40%;
    top: 50px;
    right: 5%;
    border-radius: 5px;
  }
  .nav-ul {
    display: flex;
    flex-wrap: wrap;
  }
 
  .nav-list {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #343a40;
    text-align: center;
  }
  
  .nav-list:hover {
    opacity: 0.6;
  }
  
  .nav-link{
    display: inline-block;
    width:100%;
    height: 70px;
    font-size: 2rem;
    color: #666;
    margin-top: 15px;
  }
  .header-around-behind{
    height: 40px;
    background-color: #343a40;
  }
  /* ここまでナビメニュー */

  /* ここまでヘッダー */

  .relative{
    background-color: #6c757d;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
  }
  /* PC用 */
  .search {
    display: none;
  }

  /* スマホ用 */
  #search {
    position: fixed;
    width: 90%;
    display: none;
  }
  
  #search1 {
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 9999;
    margin-top: 8px;
    padding-left: 5px;
    padding-top: 10px;
    background-color:#fff;
    opacity: 0.9;
  }
  .search-btn {
    background-color: #343a40;
    border: 1px solid #343a40;
    outline: 0;
  }
  .search-btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .search-input {
    display: inline-block;
    height: 25px;
    margin-left: 20px; 
    width: 80%;
    font-size: 1.5rem;
  }
  .search-btn1 {
    background-color: #343a40;
    border: 1px solid #343a40;
    width: 10%;
    height: 30px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
  }
  .search-btn1:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  h2{
    font-size: 1.2rem;
    color: 	#fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0 5px 0;
    background-color: #6c757d;
    height: 20px;
  }
  h3{
    font-size: 1.2rem;
    color: 	#fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: #6c757d;
    height: 20px;
    margin-top: 40px;
  }

  .easy-login-btn {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  
    .easy-btn {
      margin: 20px auto;
      width: 90%;
      height: 40px;
      border-radius: 5px;
      color: #000;
      background-color: #00dd00;
      font-size: 1.0rem;
      font-weight: bold;
    }
  
  .register-form{
     width: 100%; 
     height: auto;
     margin: auto;
    }
  .form-box{
    margin: 0 5%; 
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:  #fff;
  }
  
  .easy-btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  label{
    display: block; 
    margin-top: 15px;
    margin-left: 10%;
    font-size: 1.5rem;
  }
  .input-box{
    display: block; 
    margin: 10px auto; 
    width: 80%; 
    padding-right: 5px;
    height: 30px;
    font-size: 18px;
  }

  .error-message {
    margin-left: 20%;
  }

  .make-acount {
    margin: 0 auto;
    width: 40%;
    padding-right: 8%;
  }

  .forget-password {
    margin: 10px auto 20px auto;
    width: 40%;
    padding-right: 8%;
  }
  .make-acount-link {
    color: blue;
    font-size: 1.1rem;
  }

  .make-acount-link:hover {
    opacity: 0.6;
  }
  .forget-password-link {
    color: blue;
    font-size: 1.1rem;
  }
  .forget-password-link:hover {
    opacity: 0.6;
  }

  .register{
    display: block;
    margin: 30px auto 15px auto;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background-color: #6c757d;
    font-size: 1.5rem;
   }
   .register:hover {
    opacity: 0.6;
    cursor: pointer;
  }
 
  footer {
    background-color: #343a40;
    height: 130px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-logo {
    font-size: 3rem;
    color: #ee0000;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  small{
    display: block;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
  }


  @media screen and (min-width: 600px) {
    .header-box {
      width: 100%;
      height: 50px;
      background-color: #343a40;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-box {
      width: 100%;
      justify-content: center;
    }

    .header-left { 
      width: 10%;
      margin-left: 3%;
    }

    .header-left:hover {
      opacity: 0.6;
    }
    
    .logo {
      font-size: 2.8rem;
      display: inline-block;
      width: 100%;
    }
    .logo:hover {
      opacity: 0.6;
    }
    .header-right {
      height: 50px;
      width: 65%;
    }

    .link-write-article {
      display: block;
      width: 20%;
      height: auto;
      margin: 0 2%;
    }
  
    .link-write-article-btn {
        width: 100%;
        height: 4vh;
        background-color: #343a40;
        border: 2px solid #eeeeee;
        color: #eeeeee;
        font-size: 1.1rem;
    }
    
    .icon-btn {
      display: inline-block;
      width: 10%;
      height: 4vh;
      background-color:  #343a40;
      border: 1px solid  #343a40;
    }
    .icon-img {
      display: inline-block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      cursor: pointer;
    }
    
    .search {
      display: block;
      width: 68%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .search-input-pc {
      width: 70%;
      height: 28px;   
      font-size: 1.5rem;   
    }
    .search-btn-pc {
      height: 24px;
      margin: 0 5px;
    }
    .search-btn-pc:hover {
      opacity: 0.6;
    }
    .search-btn {
      display: none;
    }

    .register-form{
      width: 80%; 
     }
    .easy-login-btn {
      width: 75%;
    }
    
    .easy-btn {
        width: 75%;
        font-size: 1.3rem;
    }
    .input-box{ 
      width: 60%; 
    }
    label{   
      margin-left: 20%;
    }
  }

  #nav1 {
    width: 250px;
  }


  @media screen and (min-width: 1025px) {
    .search {
      width: 75%;
    }
  }

