.top-main {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.6);
}
li {
  list-style-type: none;
}

.top-article-container {
  background-color: #fff;
  height: auto;
  margin-top: 40px;
  border-radius: 5px;
}
.top-article_box {
  width: 100%;
  border-bottom: 2px solid rgba(42, 46, 49, 0.4);
  line-height: 1.6;
  height: 120px;
  box-sizing: border-box;
  padding: 5px 0 5px 20px;
}

.top-article-myimage {
  display: inline-block;
  height: 20px;
  width: 20px
}
.top-article-user {
  font-size: 1.6rem;
  margin-top: 13px;
  color: #444;
}

.top-article-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 5px 0;
}
.top-article-tag {
  font-size: 1.5rem;
}
.top-article-created_at {
  font-size: 1.5rem;
  color: #444;
}

.pagination {
  box-sizing: border-box;
  height: 120px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-paginate {
  width: 100%;
  height: auto;
}

.page-item {
  display: block;
  height: auto;
}

.page-link {
  font-size: 2rem;
  display: inline-block;
  height: auto;
}
